{erl_opts, [warnings_as_errors, debug_info,
            {parse_transform, lager_transform}]}.

{lib_dirs, ["deps"]}.

{deps, [{lager, "1.0.0", {git, "git://github.com/basho/lager.git",
                          {branch, "master"}}},
        {gproc, "0.2.*", {git, "git://github.com/uwiger/gproc.git",
                          {branch, "master"}}},
        {libuuid, "1.0.0", {git, "git://github.com/iamaleksey/libuuid.git",
                            {branch, "master"}}},
        {gsm0338, "1.0", {git, "git://github.com/iamaleksey/gsm0338.git",
                          {branch, "master"}}},
        {iconverl, "1.0", {git, "git://github.com/iamaleksey/iconverl.git",
                           {branch, "master"}}},
        {pmm_smpplib, "0.2.0", {git, "git://github.com/PowerMeMobile/pmm_smpplib.git",
                                {branch, "master"}}},
        {amqp_client, ".*", {git, "git://github.com/iamaleksey/amqp_client.git",
                             {branch, "master"}}},
        {toke, "2.7.1", {git, "git://github.com/iamaleksey/toke.git",
                         {branch, "rhel5.5-compat"}}}]}.

{asn1_opts, [ber_bin, optimize]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{xref_checks, [undefined_function_calls]}.

{clean_files, ["doc"]}.
