{sys, [
    {lib_dirs, ["../../", "../deps"]},
    {erts, [{mod_cond, derived}, {app_file, strip}]},
    {rel, "just", "1", [
        kernel,
        stdlib,
        sasl,
        lager,
        mnesia,
        snmp,
        os_mon,
        common_lib,
        amqp_client,
        gproc,
        just_mini
    ]},
    {rel, "start_clean", "", [
        kernel,
        stdlib
    ]},
    {boot_rel, "just"},
    {profile, embedded},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, hipe, [{incl_cond, exclude}]},
    {app, just_mini, [{mod_cond, app}, {incl_cond, include}]},
    {app, runtime_tools, [{incl_cond, include}]},
    {app, eper, [{incl_cond, include}]},
    {app, entop, [{incl_cond, include}]},
    {app, recon, [{incl_cond, include}]}
]}.

{target_dir, "just_mini"}.

{overlay_vars, "vars.config"}.

{overlay, [
    {mkdir, "etc"},
    {mkdir, "data/gateways"},
    {mkdir, "data/snmp"},
    {mkdir, "log/sasl"},
    {mkdir, "log/smpp"},
    {mkdir, "mibs"},
    {copy, "../mibs/JUST-MIB.mib", "mibs"},
    {copy, "files/erl", "{{erts_vsn}}/bin/erl"},
    {copy, "files/nodetool", "{{erts_vsn}}/bin/nodetool"},
    {copy, "files/snmp", "snmp"},
    {copy, "files/mnesia", "data"},
    {template, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
    {template, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
    {template, "files/just", "bin/just"}
]}.
